USE [master]
GO
/****** Object:  Database [Otel]    Script Date: 28.12.2022 10:56:15 ******/
CREATE DATABASE [Otel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Otel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Otel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Otel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Otel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Otel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Otel]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 28.12.2022 10:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminNo] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriHesap]    Script Date: 28.12.2022 10:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriHesap](
	[IslemNo] [int] IDENTITY(1,1) NOT NULL,
	[SonHesap] [money] NULL,
	[GirisTarihi] [datetime] NULL,
	[CikisTarihi] [datetime] NULL,
	[KisiSayisi] [int] NULL,
	[OdaNo] [int] NULL,
	[MusteriNo] [int] NULL,
 CONSTRAINT [PK_MusteriHesap] PRIMARY KEY CLUSTERED 
(
	[IslemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriKayit]    Script Date: 28.12.2022 10:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriKayit](
	[MusteriNo] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdi] [varchar](50) NULL,
	[MusteriSoyadi] [varchar](50) NULL,
	[MusteriCinsiyet] [varchar](50) NULL,
	[MusteriAdres] [varchar](50) NULL,
	[Telefon] [nchar](12) NULL,
 CONSTRAINT [PK_MusteriKayit] PRIMARY KEY CLUSTERED 
(
	[MusteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odalar]    Script Date: 28.12.2022 10:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odalar](
	[OdaNo] [int] IDENTITY(1,1) NOT NULL,
	[OdaFiyat] [money] NULL,
	[YatakSayisi] [int] NULL,
	[OdaTuru] [varchar](50) NULL,
	[ServisNo] [int] NULL,
 CONSTRAINT [PK_Odalar] PRIMARY KEY CLUSTERED 
(
	[OdaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servisler]    Script Date: 28.12.2022 10:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servisler](
	[ServisNo] [int] IDENTITY(1,1) NOT NULL,
	[ServisAdi] [varchar](50) NULL,
	[ServisUcret] [money] NULL,
 CONSTRAINT [PK_Servisler] PRIMARY KEY CLUSTERED 
(
	[ServisNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MusteriHesap]  WITH CHECK ADD  CONSTRAINT [FK_MusteriHesap_MusteriKayit] FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[MusteriKayit] ([MusteriNo])
GO
ALTER TABLE [dbo].[MusteriHesap] CHECK CONSTRAINT [FK_MusteriHesap_MusteriKayit]
GO
ALTER TABLE [dbo].[MusteriHesap]  WITH CHECK ADD  CONSTRAINT [FK_MusteriHesap_Odalar] FOREIGN KEY([OdaNo])
REFERENCES [dbo].[Odalar] ([OdaNo])
GO
ALTER TABLE [dbo].[MusteriHesap] CHECK CONSTRAINT [FK_MusteriHesap_Odalar]
GO
ALTER TABLE [dbo].[Odalar]  WITH CHECK ADD  CONSTRAINT [FK_Odalar_Servisler] FOREIGN KEY([ServisNo])
REFERENCES [dbo].[Servisler] ([ServisNo])
GO
ALTER TABLE [dbo].[Odalar] CHECK CONSTRAINT [FK_Odalar_Servisler]
GO
USE [master]
GO
